# Data 전처리(EDA)

In [16]:
import pandas as pd
import numpy as np

# 0. Data Load
data = {
    'age': [25, 27, np.nan, 29, 31, np.nan, 35],
    'income': [50000, 54000, 58000, np.nan, 61000, 62000, np.nan]
}

df = pd.DataFrame(data)

In [17]:
# 1. 결측치 처리

## 결측치 확인
df.isnull().sum()

## 결측치 삭제 - data가 많고 결측치가 적을때 결정
# df.dropna()

age       2
income    2
dtype: int64

In [21]:
# 결측치 처리방법 제공
from sklearn.impute import SimpleImputer 

pd.set_option('display.float_format', '{:.0f}'.format)
np.set_printoptions(suppress=True)

imputer = SimpleImputer(strategy='mean') # median / most_frequent(없으면 첫번째값) / constant 
#imputer = SimpleImputer(strategy='constant', fill_value=10)

result = imputer.fit_transform(df[['age', 'income']])
print(result)

df[['age', 'income']] = result
df

[[   25.  50000. ]
 [   27.  54000. ]
 [   29.4 58000. ]
 [   29.  57000. ]
 [   31.  61000. ]
 [   29.4 62000. ]
 [   35.  57000. ]]

   age  income
0   25   50000
1   27   54000
2   29   58000
3   29   57000
4   31   61000
5   29   62000
6   35   57000

In [ ]:
# 2. 이상치 처리

In [ ]:

# 3. 범주형 인코딩

In [ ]:
# 4. 스케일링/정규화

In [ ]:
# 5. 데이터 분할 (Train/Test)

In [ ]:
# 6. 피처 엔지니어링 (선택사항)